<div class="col-md-8 col-lg-6  p-3 d-flex m-auto flex-column">
<h2 class="m-auto p-3">Contact us</h2>    
<div class="mb-3 ">
    <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Contact number">
  </div>
<div class="mb-3 ">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your Query</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
  </div>
  <button class="btn btn-primary col-sm-6  col-md-6 col-lg-6 m-auto " type="text" (click)="onSumbit" disabled>Submit </button>
</div>